    <div id="footer">
      <ul class="list-inline">
        <li><%= link_to '', '', class: "fa fa-youtube" %></li>
        <li><%= link_to '', '', class: "fa fa-instagram" %></li>
        <li><%= link_to '', '', class: "fa fa-facebook" %></li>
        <li><%= link_to '', '', class: "fa fa-twitter" %></li>
      </ul>
      <p>This is a Airbnb Home challenge @ LeWagon</p>
    </div>
